@page "/"
<div class="searchPage">
    <micro_c_web.Client.Components.ItemSearch Action="NavigateItem" />
</div>

@code {
    private void NavigateItem(MicroCLib.Models.Item item)
    {
        Console.WriteLine(item.Name);
    }
}
