@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media print {
    .sidebar, .topr-row {
        display: none;
    }

    .quote-table-header .btn {
        display: none;
    }

    .quote-table .btn {
        display: none;
    }
}

.quote-table-header {
    margin: 0 0 5px 0;
}

.quote-table-header div {
    flex: auto;
}

.quote-table-header .btn {
    margin: 5px;
    float: right;
}

.quote-table td {
    vertical-align: middle;
}

.quote-table td {
    vertical-align: middle;
}

.main {
    margin: 0 0 2em 0;
}

.material-icons {
    vertical-align: middle !important;
    padding-bottom: 3px;
}

.modal .item-search-view {
    height: 75vh;
    overflow-y: scroll;
}

.searchPage .searchBody {
    flex: 1;
    min-height: 85vh;
}

.search-sidebar-item {
    width: 100%;
    margin: .25em 0 .25em 0;
}

.search-stock, .search-price, .search-brand {
    margin: auto;
}

.search-brand, .search-sku {
    color: darkgray;
    font-size: 12px;
}

.search-header {
    padding: 1em;
    border: 0px solid gray;
    border-bottom-width: 1px;
}

.search-header .material-icons {
    font-size: inherit;
}

.search-item {
    padding: 1em;
}

.search-item:nth-of-type(odd) {
    background: #444;
}

.search-item:hover {
    background: gray;
}

.search-item.selected {
    border: dashed red;
}

.search-item.selected:hover {
    border: dashed red;
}

.edit-item-description {
    font-size: 12px;
}

.items-tooltip
{
    /*padding: 1em;*/
}

.items-tooltip .tooltip-inner {
    max-width: 500px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: 1em;
}

.search-filter-dropdown {
    padding: 0;
    margin: 0;
}

.search-form .btn-group {
    width: 100%;
}

.search-filter-dropdown .form-check {
    border: 1px solid black;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 0;
    width: 100%;
}

.search-filter-dropdown .form-check-label {
    padding-left: 2.5rem;
    margin: 5px 0px 5px 0px;
    width: 100%;
    height: 100%;
    text-align: left;
    color: #fff;
}

.search-filter-dropdown .form-check-input {
    margin-left: 1.25rem;
    margin-top: .6rem;
}

.modal-component-footer {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

tr .table-hover-column {
    color: transparent;
}

tr:hover .table-hover-column {
    color: black;
}

.quote-price-summary {
    flex: auto;
}

.quotes-page .tooltip-inner {
    white-space: pre;
    overflow-x: hidden;
    max-width: 300px;
    padding: 1em;
}

#settings-category-items {
    max-height: 300px;
    overflow-y: scroll;
}

.column-sort {
    cursor: pointer;
}

.quote-list-item {
    cursor: pointer;
}

.quote-item-sku {
    cursor: pointer;
}

.navbar .nav-link,.navbar .navbar-brand {
    color: lightgray;
    padding-left: 0px;
}

.navbar .nav-link.active {
    background-color: darkgray;
}

@media (min-width: 768px) {
    .sidebar {
        width: 250px;
        position: sticky;
        top: 0;
        z-index: 10;
        max-height: 100vh;
        overflow-y: scroll;
    }
}

.sidebar button {
    overflow: hidden;
}

.content {
    padding: 0px !important;
    margin: 0px !important;
}

.main > .content {
    padding: 0px !important;
    margin: 0px !important;
}

.form-control {
    color: rgb(189, 183, 175);
    background-color: rgb(24, 26, 27);
    border-color: rgb(129, 120, 106);
}

.form-control:focus {
    color: rgb(189, 183, 175);
    background-color: rgb(24, 26, 27);
    border-color: rgb(129, 120, 106);
}

.filter-card li div {
    max-width: 75%;
    display: inline-block;
}

.search-results-table th .material-icons {
    display: inline;
}

.search-initial {
    display: none;
}

.searchPage .search-initial {
    display: block;
}

.app-screenshot {
    max-height: 300px;
    max-width: 100%;
}

.app-link {
    max-height: 75px;
    max-width: 100%;
}

.search-thumbnail {
    max-width: 64px;
    max-height: 64px;
}

.modal-content .item-search-footer {
    background-color: #303030;
    z-index: 20;
}

.item-search-footer {
    position: sticky;
    bottom: 0px;
    background-color: #222;
}

.item-search-footer .btn {
    margin: 0px 5px 0px 5px;
}

.quote-table-header-controls {
    display: flex;
    flex-direction: row-reverse;
}

.build-search-panel {
    display: flex;
    flex-direction: column;
}

.build-search-panel .item-search-view {
    flex: 1;
}

.build-search-panel .item-search-footer {
    flex: 1;
}

.build-item .alert {
    margin-top: 1rem;
}

.build-item img {
    max-height: 64px;
}

.build-item .col-sm-2, .build-item .col-sm-6, .build-item .col-sm {
    display: flex;
    flex-direction: column;
}

.build-item-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 3rem;
}

.build-page .sidebar {
    position: relative;
    max-height: none;
    overflow-y: auto;
}

.build-item-image {
    display: block;
}

.build-item:hover .build-item-image {
    display: none;
}

.build-item-edit-button {
    display: none;
    margin-top: auto;
    margin-bottom: auto;
}

.build-item:hover .build-item-edit-button {
    display: block;
}

.build-page .search-form {
    display: none;
}

.scanner-viewport > video,
.scanner-viewport > canvas {
    max-width: 100%;
    width: 100%;
}

.two-lines-max {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}